@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter";
}

.cabecalho-azul {
    background-color: #3750B3;
    width: 100vw;
    height: 75px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;
}

.left {
    margin-left: 9vw;
    font-size: 15px;
}

.right {

    margin-right: 7vw;
    font-size: 15px;
}

p {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;

}

.avengers {
    background-image: url(assets/imgs/avengers.jpg);
    width: 140vw;
    height: 750px;
    background-size: cover;
    display: flex;
    background-position: center;
    margin-left: 20vh;
}

.page-container {
    display: flex;
    gap: 140px;

}

.textos {

    margin: 0%;
    
}

h1 {

    font-size: 64px;
    font-weight: normal;
    margin-left: 15px;
    
}

.page-container p {

    font-size: 32px;
    margin-right: 140px;
    text-align: justify;
    
}