@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cabecalho-azul {
    background-color: #3750B3;
    width: 100vw;
    height: 75px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left {
    margin-left: 9vw;
    font-size: 15px;
}

.right {

    margin-right: 9vw;
    font-size: 15px;
}

p {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;

}

.avengers {
    background-image: url(assets/imgs/avengers.jpg);
}

.page-container {
    display: flex;

}